*{
	padding: 0;
	margin: 0;
	font-family: monospace;
	box-sizing: border-box;
}

html::-webkit-scrollbar{
	display: none;
}

body{
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	border-bottom: solid 1px black;
	background-color: rgba(0, 0, 0, .3);
	backdrop-filter: blur(5px);
	z-index: 2;
}

li{
	list-style: none;
	margin: 0px 30px;
	display: inline-block;
	font-weight: bolder;
	font-size: 15px;
	color: white;
	transition: .2s ease-in-out;
	cursor: pointer;
}

li:hover{
	font-weight: bolder;
	position: relative;
	scale: 1.5;
	text-shadow: 2px 2px 2px black;
}

nav img{
	height: 50px;
	position: absolute;
	left: 20px;
	border-radius: 100%;
}

.home_section{
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.home_section div{
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .1);
	backdrop-filter: blur(1px);
	vertical-align: top;
	height: 50%;
	transition: .2s ease-in-out;
}

.home_section div:hover{
	scale: 1.1;
	border: solid 1px gray;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, .2);
	z-index: 1;
}

.home_section h2{
	margin-bottom: 10px;
	color: lightgray;
}

.home_section p{
	color: lightgray;
	font-size: 15px;
}

















.skill_section{
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.skill_section div{
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .1);
	backdrop-filter: blur(1px);
	vertical-align: top;
	height: 50%;
	transition: .2s ease-in-out;
}

.skill_section h1{
	text-align: center;
	margin-bottom: 20px;
	color: lightgray;
	font-size: 50px;
}

.skill_section li{
	color: green;
}





















.footer_section{
	padding: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, .3);
	position: relative;
	backdrop-filter: blur(4px);
}

.footer_section p{
	color: lightgray;
	text-align: center;
}

.footer_section .icon{
	height: 30px;
	border-radius: 5px;
	border: solid 1px lightgray;
	background-color: white;
	transition: .2s ease-in-out;
}

.footer_section .icon:hover{
	translate: 0px -5px;
	scale: 1.1;
}

address div{
	margin: 10px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

.home_section{
	height: 100vh;
	display: flex;
	padding: 40px;
	justify-content: center;
	cursor: pointer;
	gap: 10px;
}