*{
	padding: 0;
	margin: 0;
	font-family: monospace;
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
	background-size: cover;
	background-repeat: no-repeat;
}

nav{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	border-bottom: solid 1px black;
	background-color: rgba(0, 0, 0, .3);
	backdrop-filter: blur(5px);
}

li{
	list-style: none;
	margin: 0px 20px;
	display: inline-block;
	font-weight: bolder;
	font-size: 15px;
	color: white;
	transition: .2s ease-in-out;
	cursor: pointer;
}

li:hover{
	font-weight: bolder;
	position: relative;
	scale: 1.5;
	text-shadow: 2px 2px 2px black;
}

img{
	height: 50px;
	position: absolute;
	left: 20px;
	border-radius: 100%;
}